/* Incorporar:
colores
bordes

fuente externa
*/

/* 
NOTAS:
1. Por qué desde mi casa, el logo sí que cambia de tamaño??*/

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  background-color: antiquewhite;
}

/* #region Cabezera */
body > header {
  min-height: 10vh;
  padding: 1vw;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  border-radius: 0 0 16px 16px;

  background-color: burlywood;
}

.logo {
  /* min-width: 128px;
    min-height: 128px; */
  width: 128px;
  height: 128px;

  background-image: url("img/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 16px;
}
/* #endregion */

/* #region Contenido */
main {
  min-height: 80vh;
  margin: 0.5em 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.main-content {
  display: flex;
  flex-direction: column;
}

/* #region Formulario */
.formulario-mensajes form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;

  padding: 1em;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0;
}

form > button {
  align-self: flex-end;
  border: none;

  font-weight: bold;

  border-radius: 8px;
  background-color: #04aa6d;
  color: white;

  padding: 8px;
}

form textarea {
  resize: vertical;
  min-height: 2em;
}
/* #endregion */

/* #region Navegación */
.menu {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row wrap;
  gap: 0.2em;
  justify-content: space-around;

  list-style: none;

  border-radius: 8px;
  overflow: hidden; /* para clipear el bg-color de los items */
}
.menu li {
  padding: 4px;
  flex: 1;
  text-align: center;
  background-color: black;
}
.menu a {
  color: white;
  text-decoration: none;
}

.menu li:hover {
  background-color: gray;
}
/* #endregion */

/* #endregion */

/* #region Pie de pagina */
footer {
  min-height: 10vh;

  border-radius: 16px 16px 0 0;
  background-color: burlywood;

  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer * {
  text-align: right;
}

footer p {
  margin: 0;
}
/* #endregion */
