* {
  padding: 0.5em;
}

body {
  margin: 0;
  padding: 0;
}

/* Encabezado */

body > header {
  height: 10vh;
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 0 solid rgb(112, 81, 175);
  border-bottom-width: 5px;
}

body > header,
body > footer {
  background-image: linear-gradient(to bottom, violet 0%, MediumPurple 100%);
}

body > header h1 {
  color: white;
}

body form {
  align-self: flex-start;
}

body > nav {
  /* height: 5vh; Se pide un 5vh, pero queda mal, y distinto a la imagen */
  margin-bottom: 0.5vh;
  padding: 0.5em;

  border: 3px solid gray;
}

/* Contenido Principal */
main {
  display: flex;
  flex-direction: row;

  border: 5px solid blue;
  padding: 0.2em;

  background-image: url(../Materiales/fondo_temporal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 0.3em;
}

/* Noticias y Publicidad */
section:first-child {
  width: 15vw;
}

/* Artículos */
section:nth-child(2) {
  width: auto;
}

article {
  margin: 1em 0;
  border-radius: 30px;

  background: rgba(128, 128, 128, 0.7);
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.4);

  background-image: linear-gradient(
    to top left,
    black -10%,
    rgba(255, 255, 255, 0) 20%
  );
}

article header,
article h2 {
  padding: 0;
}
article > header {
  text-align: center;
}

article p {
  margin: 0;
}

article figure {
  margin: 0;
}
article img {
  padding: 0;
}
