/* #region Variables */
:root {
  --text: #0c0e06;
  --background: #f8f9f3;
  --primary: #a5b560;
  --secondary: #acd099;
  --accent: #93c582;

  --font-title: Montserrat, Arial, Helvetica, sans-serif;
  --font-text: Inter, sans-serif;
}

/* #endregion */

/* Genérico */
* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

/* #region Material icons: Recommended icon sizes */
.material-symbols-outlined {
  font-variation-settings: "wght" 400, "GRAD" 0 !important;
}
span.fill {
  font-variation-settings: "FILL" 1 !important;
}
span.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}
span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}
span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}
/* #endregion */

/* #region Estilos comunes */
.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.separador {
  align-self: stretch;
  border: 1px solid var(--secondary);
}
.tooltip {
  position: relative;
}
.tooltip-text {
  z-index: 100;
  position: absolute;
  left: -50%;
  top: -2em;

  border-radius: 64px;
  white-space: nowrap;
  font-size: small;

  padding: 3px 16px;

  background: var(--text);

  text-decoration-line: underline;
  font-style: normal !important;
  font-weight: normal !important;
  color: var(--background) !important;

  visibility: hidden;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

@media screen and (width <= 800px) {
  .flex-horizontal {
    flex-direction: column;
  }
}

em {
  font-style: normal;
  font-weight: bold;
  color: var(--accent);
}

.sin-decoraciones {
  text-decoration: none;
  list-style: none;
}

.font-accent {
  color: var(--accent);
}
.font-primary {
  color: var(--primary);
}
.font-text {
  color: var(--text);
}

/* #endregion */
