/* #region NAV */

.nav {
  height: 7vh;
  width: 80vw;
  max-width: 800px;
  margin: auto;
  margin-bottom: 3vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 0.3em;

  border-radius: 16px;
  /* overflow: hidden; */
}
.nav a:first-child {
  border-radius: 16px 0 0 16px;
}
.nav a:last-child {
  border-radius: 0 16px 16px 0;
}

.nav a {
  flex: 3;
  height: 100%;
  background: var(--primary);
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.2);

  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-decoration: none;
  transition: all 200ms;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
}
.nav a:hover {
  flex: 4;

  font-weight: bold;
  font-size: 1.75em;

  letter-spacing: 0.2em;

  margin-bottom: 0.8em;
  border-radius: 16px;

  transition: all 200ms ease;
}

.nav p {
  color: var(--background);
  transition: margin 200ms ease;
}

/* #endregion NAV */
