/* #region NAV */
.nav-container {
  height: 10vh;

  display: flex;
  flex-direction: column;
}
.nav {
  width: 95vw;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 0.3em;

  border-radius: 16px;
  /* overflow: hidden; */
}
.nav > *:first-child {
  border-radius: 16px 0 0 16px;
}
.nav > *:last-child {
  border-radius: 0 16px 16px 0;
}

.nav > * {
  flex: 5;
  height: 100%;
  background: var(--primary);

  display: flex;
  gap: 0.5em;

  font-size: 1.25rem;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-decoration: none;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;

  transition: all 200ms ease;
}

.nav > *:hover,
.nav > *:focus {
  flex: 6;
  z-index: 10;

  background: var(--accent);

  font-weight: bolder;
  font-size: 1.5em;
  letter-spacing: 0em;

  border-radius: 32px;
  box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
}
#boton-buscar:hover {
  flex: 20;
}

.nav > *:focus {
  background: var(--secondary);
}

.nav * {
  color: var(--background);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#boton-buscar {
  cursor: text;
}
#buscar {
  background: transparent;
  border: 0;
  flex: 1;
  width: 0;

  font-size: 1em;
  padding: 0;
  margin: 0;
}

@media screen and (width <= 900px) {
  .nav-container {
    padding-bottom: 2.5vw;
  }
  .nav p {
    position: fixed;
    visibility: hidden;
    width: 0;
  }
}
/* @media screen and (width <= 400px) {
  .nav {
    margin: auto;
    width: 90vw;
  }
} */

/* #endregion NAV */
