.project-card-gallery {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  --card-contrast: #0d4718;
  --card-primary: #2f9e44;
  --card-secondary: #b2f2bb;
  --card-background: #ebfbee;
  --card-radius: 24px;
  --card-border: 2px;

  width: 450px;

  padding-bottom: 20px;
  margin: 0 45px;

  border: var(--card-border) solid var(--card-contrast);
  border-radius: var(--card-radius);

  background: var(--card-background);
  box-shadow: -8px 8px var(--card-contrast);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.project-image-container {
  background: var(--card-secondary);
  padding: 8px 0px;

  border-radius: var(--card-radius) var(--card-radius) 0 0;
}
.project-image-container:hover .project-image {
  z-index: 10;
  transform: scale(1.2);
}
.project-image {
  position: relative;
  width: 120%;
  left: -10%;

  object-fit: cover;

  transition: transform 300ms ease;
}

.project-title {
  padding: 0 16px;
}
.project-title h2 {
  font-weight: 900 !important;
  font-family: var(--font-title);
  font-size: xx-large !important;
  font-style: normal !important;
  color: var(--card-contrast) !important;
}

.project-details {
  position: relative;

  margin: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
.project-details * {
  color: var(--text);
  font-size: x-large;
  font-weight: 500;
}
.project-details-row {
  padding: 4px 4px 4px 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
.project-details-row *:first-child {
  flex: 1;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  color: var(--card-primary);
}

.project-label {
  background: var(--card-secondary);
  padding: 4px 8px;
  border-radius: 64px;
  color: var(--card-primary);

  transition: color 100ms;
}
.project-label:hover {
  background: var(--card-primary);
  color: var(--card-secondary);
}

.project-link-container {
  position: relative;
}

.project-link {
  position: relative;
  margin-left: auto;
  left: 5%;

  font-weight: bold;

  width: 80%;

  background: var(--card-secondary);
  border: 2px solid var(--card-primary);
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 1em;

  padding: 8px 16px;

  transition: gap 400ms ease, left 200ms ease 50ms;
}
.project-link:hover {
  gap: 3em;
  left: 8%;

  filter: brightness(1.03);
}

.project-link p {
  font-size: x-large;
}
.project-link span {
  flex: 1;
}
.project-link * {
  color: var(--card-primary);
}

@media screen and (width <= 600px) {
  .project-card {
    width: 95vw;
    margin: 0;
  }
  .project-image {
    width: 95%;
    left: 2.5%;
  }
  .project-details-row {
    flex-direction: column;
  }
  .project-link {
    left: 0;
    margin: auto;
    width: 90%;
  }
}
