.project-card-gallery {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-card {
  --card-radius: 24px;
  --card-padding: 16px;
  --card-border: 4px;
  --card-bottom-pad: 16px;

  max-width: 600px;
  height: 600px;
  padding: var(--card-padding);
  padding-bottom: var(--card-bottom-pad);

  border: var(--card-border) solid var(--primary);
  border-radius: var(--card-radius);

  background: var(--secondary);

  display: flex;
  flex-direction: column;
  gap: var(--card-padding);

  transition: padding 200ms ease;
}
.project-card:hover {
  --card-padding: 0px;
}

.project-image-container {
  flex: 1;

  width: 100%;
  position: relative;
  border-radius: calc(
    var(--card-radius) - (var(--card-border) + var(--card-padding))
  ); /*outer radius - (padding + border)*/

  overflow: hidden;

  transition: border-radius 200ms ease;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

.project-title {
  position: absolute;
  left: 16px;
  bottom: 16px;

  height: 3em;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.project-title * {
  color: var(--background);
  font-family: var(--font-title);
}
.project-icon {
  height: 100%;
}
.project-image-gradient {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0) -10%, transparent 30%);
}
.project-image-link {
  position: absolute;
  top: 8px;
  right: 8px;
}
.project-image-link * {
  color: transparent;

  transition: color 100ms;
}
.project-card:hover .project-image-link * {
  color: white;
}

.project-details {
  align-self: flex-end;
  text-align: end;
  font-style: italic;

  height: 3em;

  overflow: hidden;

  transition: all 200ms ease;
}
.project-details * {
  color: var(--text);
}

.project-card:hover .project-details {
  height: 0;

  transition: all 200ms ease;
}
