/* Custom Inter Font & Adaptive Hover */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  padding-top: 50px;
}

/* Centering the main app area */
.app-container {
  max-width: 500px;
}

.simple-hover {
  transition: filter 0.2s ease;
}

/* Light Mode: Darken */
.simple-hover:hover {
  filter: brightness(0.95);
}

[data-bs-theme="dark"] .simple-hover:hover {
  filter: brightness(1.2);
}
