.banner {
  /* background: var(--background); */
  height: 90vh;

  padding: 1em;

  display: flex;
  flex-direction: column;
}

.texto-superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.texto-superior .izquierda {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.banner .contenido {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* @media screen and (width <= 800px) {
  .banner .contenido {
    flex-direction: column;
  }
} */

.banner .contenido-imagen {
  flex: 1;
}

.banner .contenedor-texto {
  flex: 1;
}

.banner .contenido-texto {
  margin: auto;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
  padding: 0 15%;
}
.banner .contenido-texto p {
  text-align: center;
}

.banner-title {
  font-size: 1.5em;
  letter-spacing: 0.3em;
}
.banner-title h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.banner-title *:nth-child(1) {
  margin-left: 0px;
}
.banner-title *:nth-child(2) {
  margin-left: 15%;
}
.banner-title *:nth-child(3) {
  margin-left: 30%;
}

.banner-buttons {
  display: flex;
  flex-wrap: no-wrap;
  text-wrap: nowrap;
  gap: 8px;
}

.banner-buttons .button {
  border: none;

  font-weight: bold;

  padding: 6px 14px;
  border-radius: 16px;
  background: var(--background);
  border: 2px solid var(--primary);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;

  transition: gap 100ms;
  text-decoration: none;
}
.button span {
  color: var(--primary);
}

.banner-buttons .button.highlight {
  background: var(--primary);
  border: 2px solid var(--background);
}
.button.highlight span {
  color: var(--background);
}

.banner-buttons .button:hover {
  box-shadow: 0 20px 50px 8px rgba(0, 0, 0, 0.1);
  gap: 1.5em;
  transition: all 200ms;
}

.banner {
  position: static;
}

.contenido-imagen img {
  width: 50%;
  height: auto;
  position: absolute;
  left: 65%;
  top: 50%;
  translate: -50% -50%;
  max-width: 50%;
}
