/* #region Tarjeta */

.tarjeta h2 {
  margin-bottom: 16px;
}
.tarjeta h3 {
  margin-bottom: 8px;
}
.tarjeta .item:not(:last-child) {
  margin-bottom: 48px;
}

.tarjeta {
  padding: 2em;

  max-width: 900px;

  /* ya tiene flex */
  gap: 0.5em;

  border-radius: 40px;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: var(--background);
}

.mostrar-competencias,
.tarjeta .info {
  gap: 2em;
}

.tarjeta .info p {
  flex: 3;
}
.tarjeta .info ul {
  flex: 2;
}
.tarjeta .info li:not(:last-child) {
  margin-bottom: 8px;
}

.tarjeta .competencia {
  gap: 0.5em;
}

/* #endregion */
